[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DesignLibrary"]
	path = DesignLibrary
	url = https://github.com/declaredesign/designlibrary
	shallow = true
	registered = true
[submodule "randomizr"]
	path = randomizr
	url = https://github.com/declaredesign/randomizr
	shallow = true
	registered = true
[submodule "estimatr"]
	path = estimatr
	url = https://github.com/declaredesign/estimatr
	shallow = true
	registered = true
[submodule "fabricatr"]
	path = fabricatr
	url = https://github.com/declaredesign/fabricatr
	shallow = true
	registered = true
[submodule "DeclareDesign"]
	path = DeclareDesign
	url = https://github.com/declaredesign/declaredesign
	shallow = true
	registered = true
