[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DeclareDesign"]
	path = DeclareDesign
	url = https://github.com/declaredesign/declaredesign
[submodule "DesignLibrary"]
	path = DesignLibrary
	url = https://github.com/declaredesign/designlibrary
[submodule "estimatr"]
	path = estimatr
	url = https://github.com/declaredesign/estimatr
[submodule "fabricatr"]
	path = fabricatr
	url = https://github.com/declaredesign/fabricatr
[submodule "randomizr"]
	path = randomizr
	url = https://github.com/declaredesign/randomizr
